<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Dron</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Ubuntu" rel="stylesheet">

  <!-- CSS Stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>

  <section class="" id="title">

    <div class="toptions">

      <!-- Nav Bar -->

      <nav class="navbar navbar-expand-lg navbar">
        <a class="navbar-brand" href="">Dron</a>
        <img src="mylogo.png"  alt="" width="72" height="72" style="border-radius:100%">
      </nav>
    </div>
  </section>

  <section id="profile-page" class="">

    <form method="post" action="/profile" class="">

      <div class="formsty">

        <div class="form-row">
          <!-- <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" name="uemail" id="inputEmail4" placeholder="jagga_daaku@gmail.com" required>
          </div> -->
          <!-- <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <input type="password" class="form-control" name="upass" id="inputPassword4" placeholder="Password" required>
          </div> -->
        </div>
        <div class="form-row">
          <div class="form-group form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="ufname" placeholder="John" required>
          </div>
          <div class="form-group form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="ulname" placeholder="Doe" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group form-group col-md-4">
            <label for="inputSchoolName">School Name</label>
            <input type="text" class="form-control" id="inputSchoolName" name="usclname" placeholder="ABC" required>
          </div>

          <div class="form-group form-group col-md-4">
            <label for="inputCourses">Courses</label>
            <input type="text" class="form-control" id="inputCoursesName" name="usclcours" placeholder="Science/ Commerce/ Humanities" required>
          </div>

        </div>
        <!-- if dropdown selected for bachelors then show this option -->
        <div class="form-row">
          <div class="form-group form-group col-md-4">
            <label for="inputDegreeName">Bachelors Degree</label>
            <input type="text" class="form-control" id="inputDegreeName" name="ubachdeg" placeholder="B.Tech.">
          </div>
          <div class="form-group form-group col-md-4">
            <label for="inputMajor">Major</label>
            <input type="text" class="form-control" id="inputMajorName" name="ubachmaj" placeholder="CS">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group form-group col-md-4">
            <label for="inputDegreeName">Competitve Exam</label>
            <input type="text" class="form-control" id="inputExamName" name="ucompex" placeholder="GMAT">
          </div>
          <div class="form-group form-group col-md-4">
            <label for="inputMajor">Score</label>
            <input type="text" class="form-control" id="inputExamScore" name="ucompsc" placeholder="740">
          </div>
        </div>




        <div class="form-row">
          <div class="form-group form-group col-md-4">
            <label for="inputDegreeName">Masters Degree</label>
            <input type="text" class="form-control" id="inputDegreeName" name="umasdeg" placeholder="M.S.">
          </div>
          <div class="form-group form-group col-md-4">
            <label for="inputMajor">Major</label>
            <input type="text" class="form-control" id="inputMajorName" name="umasmaj" placeholder="CS">
          </div>

        </div>

        <div class="form-group">
          <label for="inputIncome">Certifications</label>
          <input type="text" class="form-control" id="inputCert" name="ucert" placeholder="CCIP, CFA, Google">
        </div>
      <div class="form-group">
          <label for="inputAddress2">Date of birth </label>
          <div class="form-row">
<div class="">

</div>

            <div class="form-group form-group col-md-4">
              <label for="inputDate">Date</label>
              <input type="text" class="form-control" id="inputDate" name="udobd" placeholder="01" required >
            </div>
            <div class="form-group form-group col-md-4">
              <label for="inputMonth">Month</label>
              <input type="text" class="form-control" id="inputMonth" name="udobm" placeholder="Jan" required>
            </div>
            <div class="form-group form-group col-md-4">
              <label for="inputYear">Year</label>
              <input type="text" class="form-control" id="inputYear" name="udoby" placeholder="2000" required>
            </div>

          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" name="ucity" placeholder="Noida" >
          </div>
          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <input type="text" class="form-control" id="inputState" name="ustat" placeholder="Uttar Pradesh" >
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" name="uzip" placeholder="201301" required>
          </div>
        </div>
       
        <!-- <input type="hidden" name="MentName" value="First Mentor">
        <input type="hidden" name="MentId" value="123456Test"> -->
        <button type="submit" class="btn btn-primary btn-block subbtn" name="profInfo" value="">Update Account</button>
      </div>
    </form>
  </section>




<%- include("footer") -%>
